.icon-component {
  background-repeat: no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;

  &.logo {
    background-image: url(../../assets/images/lionsInLawLogo.png);
    width: 84px;
    height: 84px;
  }

  &.envelop {
    background-image: url(../../assets/images/envelope.png);
  }

  &.language {
    background-image: url(../../assets/images/langIcon.png);
  }

  &.drop {
    background-image: url(../../assets/images/drpoArrow.png);
  }

  &.dropdown {
    background-image: url(../../assets/images/dropDomnArrow.png);
  }

  &.global-existing {
    background-image: url(../../assets/images/global_Icon.png);
  }

  &.efficiency {
    background-image: url(../../assets/images/passport.png);
  }

  &.individual {
    background-image: url(../../assets/images/individualIcon.png);
  }

  &.expansion {
    background-image: url(../../assets/images/expansion.png);
  }

  &.actives {
    background-image: url(../../assets/images/saveActives.png);
  }

  &.optimization {
    background-image: url(../../assets/images/optimizationTaxes.png);
  }

  &.global-traiding {
    background-image: url(../../assets/images/globalTraiding.png);
  }

  &.more-light {
    background-image: url(../../assets/images/detailsArrow.png);
  }

  &.more-dark {
    background-image: url(../../assets/images/detailsArrowWhite.png);
  }

  &.crypto-license-img {
    background-image: url(../../assets/images/cryptoLicens.png);
  }

  &.taxes-plan-img {
    background-image: url(../../assets/images/taxesPlan.png);
  }

  &.ok {
    background-image: url(../../assets/images/okIcon.png);
  }

  &.fail {
    background-image: url(../../assets/images/croseIcon.png);
  }

  &.wavy-arrow {
    background-image: url(../../assets/images/arrowCurving.png);
  }

  &.hongKong-icon {
    background-image: url(../../assets/images/hongKongIcon.png);
  }

  &.australia-icon {
    background-image: url(../../assets/images/australiaIcon.png);
  }

  &.uk-icon {
    background-image: url(../../assets/images/ukIcon.png);
  }

  &.usa-icon {
    background-image: url(../../assets/images/flag-usaIcon.png);
  }

  &.singapore-icon {
    background-image: url(../../assets/images/singaporeIcon.png);
  }

  &.bvi-icon {
    background-image: url(../../assets/images/flag-bviIcon.png);
  }

  &.lithuania-icon {
    background-image: url(../../assets/images/flag-lithuaniaIcon.png);
  }

  &.phone {
    background-image: url(../../assets/images/footer-phone-icon.png);
  }

  &.whatsapp {
    background-image: url(../../assets/images/watsapIcon.png);
  }

  &.viber {
    background-image: url(../../assets/images/viberIcon.png);
  }

  &.facebook {
    background-image: url(../../assets/images/facebookIcon.png);
    width: 9px;
    height: 17px;
  }

  &.twitter {
    background-image: url(../../assets/images/twitterIcon.png);
    width: 19px;
    height: 15px;
  }

  &.instagram {
    background-image: url(../../assets/images/instaIcon.png);
    height: 20px;
    width: 20px;
  }

  &.linkedin {
    background-image: url(../../assets/images/linkedinIcon.png);
    height: 18px;
    width: 18px;
  }

  &.telegram {
    background-image: url(../../assets/images/telegramIcon.png);
    width: 21px;
    height: 17px;
  }

  &.individual-choise {
    background-image: url(../../assets/images/check-list.png);
  }

  &.komplex {
    background-image: url(../../assets/images/people-businessmen.png);
  }

  &.expert {
    background-image: url(../../assets/images/approved-business.png);
  }
}
