.icon-component {
  background-repeat: no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;

  &.logo {
    background-image: url(../../assets/images/lionsInLawLogo.png);
    width: 84px;
    height: 84px;
  }

  &.envelop {
    background-image: url(../../assets/images/envelope.png);
  }

  &.language {
    background-image: url(../../assets/images/langIcon.png);
  }

  &.drop {
    background-image: url(../../assets/images/drpoArrow.png);
  }

  &.dropdown {
    background-image: url(../../assets/images/dropDomnArrow.png);
  }
}
