@use "../../variables";

.czech-company-page-wrapper {
  padding: 0 70px;

  .czech-company-header {
    background-image: url(../../assets/images/CzechBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: calc(100vh - 20px);
    padding-left: 37px;

    .title {
      font-size: 55px;
      font-family: "Lato-bold";
      color: #ffffff;
      font-size: 55px;
      text-transform: uppercase;
      line-height: 150%;
      width: 65%;
      margin-bottom: 54px;
    }

    .description {
      font-family: "Raleway-bold";
      font-size: 24px;
      color: #ffffff;
      line-height: 150%;
      width: 55%;
      padding-right: 10%;
      box-sizing: border-box;
    }

    .tariff-block {
      font-family: "Lora-bold";
      font-size: 24px;
      width: 45%;
      padding: 0 30px;
      box-sizing: border-box;

      p {
        font-size: 32px;

        .selected-text {
          color: variables.$dark-red;
        }
      }

      .tariff-select {
        padding: 16px 0;
        border-bottom: 1px solid variables.$dark-red;
      }
    }
  }

  .consulting-offshore-comp-wrapper {
    margin-top: 200px;
  }

  .faq-wrapper {
    padding: 0;
  }
}
