@use "../../variables";

.company-sub-description-block {
  margin: 150px 0;

  > div {
    width: 45%;

    img {
      max-width: 100%;
    }
  }

  .title {
    font-family: "Lora-bold";
    font-size: 42px;

    .selected-text {
      color: variables.$red-color;
    }
  }

  .image-wrapper {
    position: relative;

    &.has-shadow {
      padding-right: 30px;
      padding-bottom: 30px;
    }

    .shadow-block {
      background-color: variables.$red-color;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }

  .description {
    font-family: "Lora";
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 50px;
  }
}

@media (max-width: 920px) {
  .company-sub-description-block {
    flex-direction: column;
    >div {
      width: 100%;
    }

    .image-wrapper {
      margin: 0 auto;
      margin-top: 30px;
      width: 70%;
    }
  }
}

@media (max-width: variables.$point-sm) {
  .company-sub-description-block {
    .title {
      font-size: 32px;
    }

    .description {
      font-size: 20px;
      margin-top: 20px;
    }
  }
}