@use "../../variables";

.poland-company-wrapper {
  padding: 0 70px;

  .poland-company-header {
    color: #ffffff;
    background-color: #e31c1c;
    background-image: url(../../assets/images/polandBanner.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: right bottom;
    padding: 88px 52px;
    padding-bottom: 145px;

    .title {
      font-family: "Lato";
      font-size: 55px;
      line-height: 150%;
      margin-bottom: 45px;
      width: 55%;
    }

    .description {
      font-family: "Roboto";
      font-size: 24px;
      width: 35%;
    }
  }

  .faq-wrapper {
    padding: 0;
  }
}
