@use "../../variables";

.contact-phones-list {
  background-color: variables.$dark-red;
  color: #ffffff;
  font-size: 20px;
  padding: 14px 70px;
  margin-top: 120px;
  padding-bottom: 30px;

  .title {
    font-family: "Roboto-bold";
    margin-bottom: 24px;

    .icon-component {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
  }

  .phone-info-item {
    font-family: "Roboto";

    .icon-component {
      width: 42px;
      height: 28px;
      margin-right: 10px;
    }

    &.call-number .icon-component {
      width: 28px;
    }
  }
}

@media (max-width: variables.$point-lg) {
  .contact-phones-list {
    .ant-row {
      .ant-col {
        padding-left: 0 !important;
      }
    }
  }
}

@media (max-width: variables.$point-s) {
  .contact-phones-list {
    padding: 20px;

    .phone-list-row {
      flex-direction: column;
      margin: 0 !important;

      .ant-col {
        font-size: 12px;
        max-width: 100%;
        padding-right: 0 !important;
      }
    }
  }
}
