@use "../../variables";

.merchant-accounts-page {
  .merchant-accounts-header {
    position: relative;
    padding-bottom: 57px;

    .title-wrapper {
      width: 50%;
    }

    .banner-image {
      width: 53%;
      height: calc(100% + 185px);
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: -30px;

      img {
        max-width: 100%;
      }
    }

    > div {
      width: 50%;
    }

    .title {
      font-family: "Lora-bold";
      font-size: 105px;
      color: variables.$red-color;
      align-self: center;
    }

    .link {
      padding: 15px 35px;
    }

    .description {
      font-family: "Lato-bold";
      font-size: 34px;
      text-transform: uppercase;
      margin-top: 90px;
    }

    .sub-description {
      font-family: "Lato-bold";
      font-size: 24px;
      margin: 70px 0;
    }
  }

  .spec-solutions {
    margin-top: 120px;
    padding-bottom: 80px;

    > div {
      width: 50%;
      box-sizing: border-box;

      img {
        max-width: 100%;
      }
    }

    .info-wrapper {
      font-family: "Lato-bold";
      font-size: 24px;
      padding-right: 30px;

      .title {
        text-transform: uppercase;
        font-size: 42px;
      }

      .description {
        font-family: "Lora";
        font-size: 24px;

        .selected-text {
          font-family: "Lora-bold";
          color: variables.$dark-red;
        }
      }
    }
  }

  .choose-merchant-account {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 0.7fr 1fr 1fr;
    margin: 120px 0;

    .title-block {
      .title {
        font-family: "Lato-semi";
        font-size: 42px;
        text-transform: uppercase;
        color: variables.$dark-red;
      }
    }

    .title-block,
    .phone-block-wrapper {
      grid-column-end: span 2;
    }

    .phone-block-wrapper {
      background-image: url(../../assets/images/phone-circle-block.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 70%;
      grid-row-end: span 2;
      padding: 40px;

      .contact-wrapper {
        background-color: #fffbfb;
        padding: 30px 15px;
        box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 25%);
        border-radius: 24px;
        padding-top: 66px;

        .contact-wrapper-header {
          font-family: "Lato-bold";
          font-size: 20px;
          margin-bottom: 46px;
        }

        .icon-component {
          width: 53px;
          height: 53px;
          margin-right: 10px;
        }

        .link {
          padding: 15px 40px;
          text-align: center;
        }
      }
    }

    .experiance-block {
      grid-column-start: 2;
    }
  }

  .empowerment-wrapper {
    padding: 70px 68px;
    background-image: url(../../assets/images/libraImage.png);
    background-repeat: no-repeat;
    background-size: cover;

    > div {
      color: #ffffff;
      width: 50%;

      .title {
        font-family: "Lora-medium";
        font-size: 42px;
        text-transform: uppercase;
        line-height: 150%;
      }

      .description {
        font-family: "Lora-bold";
        font-size: 24px;
        line-height: 150%;
        margin: 68px 0;
      }

      .link {
        padding: 15px 49px;
      }
    }
  }
}

@media (max-width: variables.$point-xl) {
  .merchant-accounts-page {
    .choose-merchant-account {
      grid-template-columns: 33% 33% 33%;
      grid-auto-rows: 1fr 1fr 1fr 1fr;

      .title-block {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .phone-block-wrapper {
        background-size: contain;
        grid-column-end: 3;
        grid-row-end: 2;
        grid-column-start: 3;
        padding: 0;
        padding-bottom: 40px;
      }

      .experiance-block {
        grid-column-start: auto;
      }
    }

    .merchant-accounts-header {
      position: relative;
      .banner-image {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .title-wrapper {
        width: 100%;
        align-items: flex-start;

        .description,
        .sub-description {
          width: 50%;
        }
      }
    }

    .spec-solutions {
      padding-bottom: 0;

      >div {
        width: 70%;

        &.image-wrapper {
          width: 30%;
        }
      }
    }

    .empowerment-wrapper {
      padding: 30px;

      >div {
        width: 70%;

        .description {
          margin: 40px 0;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .merchant-accounts-page {
    .merchant-accounts-header {
      .title-wrapper {
        .description {
          margin-top: 40px;
        }

        .sub-description {
          margin: 40px 0;
        }
      }

      .banner-image {
        height: 75%;

        img {
          max-height: 100%;
        }
      }
    }

    .choose-merchant-account,
    .spec-solutions {
      margin-top: 45px;
    }
  }
}

@media (max-width: variables.$point-l) {
  .merchant-accounts-page {
    .choose-merchant-account {
      grid-template-columns: 50% 50%;
      grid-auto-rows: 1fr;

      .phone-block-wrapper {
        grid-column-end: auto;
        grid-column-start: auto;
        grid-row-end: auto;
        padding-right: 30px;
      }
    }
  }
}

@media (max-width: 840px) {
  .merchant-accounts-page {
    .merchant-accounts-header {
      .title-wrapper {
        .description {
          width: 100%;
        }
      }

      .banner-image {
        box-sizing: border-box;
        height: 55%;
      }
    }

    .spec-solutions {
      .info-wrapper {
        width: 100%;
        padding-right: 0;

        .description {
          margin-top: 20px;
        }
      }

      >div.image-wrapper {
        display: none;
      }
    }
  }
}

@media (max-width: variables.$point-md) {
  .merchant-accounts-page {

    .merchant-accounts-header {
      .title {
        font-size: 78px;
      }
    }

    .choose-merchant-account {
      display: flex;
      flex-direction: column;
      margin-bottom: 45px;

      >div {
        margin-bottom: 20px;

        &.description-block {
          min-height: auto;

          .description {
            margin-top: 15px;
          }
        }
      }

      .phone-block-wrapper {
        padding-top: 50px;
        padding-right: 0;
        justify-content: center;
      }
    }
  }
}

@media (max-width: variables.$point-sm) {
  .merchant-accounts-page {
    .merchant-accounts-header {
      padding-bottom: 0;

      .description {
        font-size: 24px;
      }

      .sub-description {
        font-size: 20px;
      }
    }

    .spec-solutions {
      .info-wrapper {
        .title {
          font-size: 32px;
        }

        .description {
          font-size: 20px;
        }
      }
    }

    .choose-merchant-account .title-block,
    .empowerment-wrapper >div {
      .title {
        font-size: 32px;
      }
    }
    
    .empowerment-wrapper >div {
      width: 100%;

      .description {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 479px) {
  .merchant-accounts-page {
    .merchant-accounts-header {
      .title {
        font-size: 68px;
      }
    }
  }
}

@media (max-width: variables.$point-s) {
  .merchant-accounts-page {
    .merchant-accounts-header {
      .title-wrapper {
        .sub-description {
          width: 100%;
        }
      }

      .banner-image {
        width: 180px;
        height: 170px;
        bottom: 40px;
      }
    }
  }
}

@media (max-width: variables.$point-xs) {
  .merchant-accounts-page {
    .merchant-accounts-header {
      .title {
        font-size: 56px;
      }

      .description {
        font-size: 22px;
        margin-top: 20px;
      }

      .sub-description {
        font-size: 14px;
      }
    }

    .spec-solutions {
      .info-wrapper {
        .title {
          font-size: 24px;
        }

        .description {
          font-size: 14px;
        }
      }
    }

    .choose-merchant-account .title-block,
    .empowerment-wrapper >div {
      .title {
        font-size: 24px;
      }
    }
    
    .empowerment-wrapper >div {
      width: 100%;

      .description {
        font-size: 16px;
      }
    }
  }
}