@use "../../variables";

.contact-us-link {
  color: #ffffff;
  background-color: variables.$button-bg;
  font-family: "Lora-semi";
  font-size: 24px;
  display: inline-block;
  border-radius: 16px;
  padding: 18px 100px;

  &:hover {
    color: #ffffff;
  }
}

.main-section {
  position: relative;

  .main-header-block {
    padding-bottom: 20px;
    padding-top: 60px;
  }

  .secondary-part {
    padding-bottom: 60px;
  }

  .info-wrapper {
    margin-top: 60px;
  }

  .main-background {
    background-image: url(../../assets/images/mainPageImage.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    height: calc(100% + 137px);
    z-index: -1;
  }

  .main-title {
    font-family: "Lora-bold";
    font-size: 32px;
  }

  .main-sub-part {
    width: 35%;

    .count-company {
      font-family: "Lora-bold";
      font-size: 91px;
    }

    .law-name-info {
      margin-top: 60px;
      margin-bottom: 100px;
    }

    .name-law {
      font-family: "Lora-bold";
      font-size: 105px;
      color: variables.$red-color;
    }

    &.registration {
      .description {
        margin-top: 20px;
      }
    }
  }

  .description {
    font-family: "Raleway";
    font-size: 24px;
    line-height: 150%;
    margin-top: 50px;

    .medium {
      font-family: "Raleway-medium";
    }
  }

  .quality {
    .count {
      font-family: "Raleway";
      font-size: 91px;
    }

    .quality-name {
      font-family: "Raleway-semi";
      font-size: 24px;
    }
  }
}

.our-services {
  margin-top: 120px;

  & > .title {
    font-family: "Lato";
    font-size: 42px;
    text-transform: uppercase;
  }

  & > .description {
    font-family: "FiraSans";
    font-size: 20px;
    line-height: 150%;
    margin-top: 25px !important;
  }

  & > .title,
  & > .description {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .our-services-wrapper {
    margin-top: 70px;

    .our-services-item {
      font-family: "FiraSans";
      width: 25%;

      .icon-component {
        width: 72px;
        height: 72px;
      }

      .title {
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 30px;
      }

      .description {
        font-size: 16px;
        color: variables.$light-grey;
      }
    }
  }
}

.choose-us {
  margin-top: 120px;

  > .title {
    font-family: "Lato-bold";
    font-size: 42px;
    max-width: 55%;
    margin-left: 15%;
    margin-bottom: 60px;
    text-transform: uppercase;

    .selected {
      color: variables.$red-color;
    }
  }
  .image-wrapper {
    min-width: 55%;
    width: 55%;
    margin-right: 90px;

    img {
      max-width: 100%;
    }
  }

  .advantages-wrapper {
    padding-right: 20px;
    .description {
      font-family: "DM-Sans";
      font-size: 22px;
      line-height: 120%;
      margin-bottom: 36px;

      &::first-letter {
        font-family: "DM-Sans-bold";
      }
    }

    .advantages-item {
      margin-bottom: 22px;
      padding-right: 50px;

      .icon-component {
        width: 74px;
        min-width: 74px;
        height: 74px;
        margin-right: 10px;
      }

      .title {
        font-family: "DM-Sans-bold";
        font-size: 32px;
        margin-bottom: 5px;
      }

      .advantages-item-description {
        font-family: "DM-Sans";
        font-size: 18px;
        line-height: 120%;
      }
    }
  }
}

.services-list,
.main-section,
.our-functions {
  padding: 0 70px;
}

.services-list {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;

  .image-container {
    grid-area: 1 / 3 / 3 / 5;

    img {
      max-width: 80%;
    }
  }

  .grid-item-2 {
    font-family: "Raleway";
    font-size: 22px;
    grid-area: 3 / 1 / 3 / 3;
    padding-top: 70px;

    .item-2-title {
      font-family: "Lato-bold";
      font-size: 28px;
      margin-bottom: 32px;

      .selected {
        color: variables.$dark-red;
      }
    }
  }

  .services-list-title {
    font-family: "Lato-bold";
    font-size: 42px;
    color: variables.$dark-red;
    text-transform: uppercase;
  }
}

.law-business {
  background-image: url(../../assets/images/lawRectangle.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  margin-top: 120px;
  padding: 70px;
  position: relative;

  > div {
    z-index: 2;
  }

  .business-gradient {
    background-color: #1d1311;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .title {
    font-family: "Roboto-bold";
    font-size: 40px;
    color: #ffffff;

    .selected {
      font-family: "Lato-bold";
      font-size: 77px;
      color: variables.$dark-red;
    }
  }

  .description {
    font-family: "Raleway";
    font-size: 16px;
    color: #ffffff;
    margin: 40px 0;
  }

  .business-types {
    margin-top: 60px;

    .business-item {
      font-family: "Roboto";
      font-size: 16px;
      color: #ffffff;
      display: flex;
      width: 47%;
      border: 1px solid #ffffff;
      border-radius: 6px;
      padding: 16px;
      box-sizing: border-box;

      .title {
        font-family: "Roboto-medium";
        font-size: 20px;
        margin-bottom: 10px;
      }

      .icon-component {
        width: 100px;
        height: 100px;
        margin-right: 15px;
      }
    }
  }
}

.our-functions {
  margin-top: 120px;

  .our-functions-header {
    font-family: "DM-Sans";
    font-size: 16px;
    color: variables.$grey;
    text-align: center;

    .plann-switcher {
      margin: 0 24px;
      &.ant-switch-checked {
        background-color: variables.$extra-dark-grey;
      }
    }

    .discount-wrapper {
      margin: 20px 0;
      .icon-component {
        width: 92px;
        height: 46px;
        margin-left: 20%;
        transform: rotate(20deg);
      }
    }
  }
  .title {
    font-family: "DM-Sans-bold";
    font-size: 42px;
    color: #000000;
  }

  .description {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 60px;
  }

  .tarrif-plan-types {
    .slick-slider {
      .slick-dots {
        display: none !important;
      }
    }
    .slick-slide > div {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }

    .tarrif-plan-item {
      font-size: 16px;
      border-radius: 12px;
      padding: 40px 24px;

      &.dark {
        background-color: variables.$dark-red;
        color: #ffffff;
        margin: 0 10px;

        .price,
        .price-wrapper,
        .description,
        .title {
          color: #ffffff !important;
        }
      }

      .title {
        font-family: "Manrope-bold";
        font-size: 22px;
      }

      .description {
        font-family: "Manrope";
        color: variables.$grey-secondary;
        margin-top: 11px;
        margin-bottom: 20px;
      }

      .price-wrapper {
        font-family: "Manrope-light";
        color: variables.$extra-dark-grey;

        .price {
          font-family: "Manrope-semi";
          font-size: 56px;
          color: variables.$grey;
        }
      }

      .start-plan-btn {
        font-family: "Manrope-semi";
        border: 1px solid variables.$color-button;
        border-radius: 4px;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        margin-top: 25px;
        margin-bottom: 40px;

        &.light {
          background-color: #fff3f1;
        }

        &.dark {
          background-color: #ffffff;
        }

        &:hover {
          color: #000000;
        }
      }

      .plan-option-item {
        font-family: "Manrope-medium";
        margin-bottom: 12px;

        .icon-wrapper {
          background-color: #fff3f1;
          margin-right: 15px;
          width: 32px;
          min-width: 32px;
          height: 32px;
          border-radius: 50%;

          &.dark {
            background-color: variables.$primary-blue;
          }

          .icon-component {
            width: 12px;
            height: 9px;

            &.fail {
              width: 9px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: variables.$point-xl) {
  .main-section {
    .main-background {
      height: auto;
      top: -130px;
      right: 0;
      width: 60%;
      left: auto;
    }

    .main-header-block {
      flex-direction: column;

      .main-sub-part {
        width: 60%;
        margin-top: 0;
      }

      .registration {
        .law-name-info {
          align-items: flex-start;
          margin-bottom: 30px;

          .description {
            text-align: left !important;
          }
        }
        .count-company-wrapper {
          display: none;
        }
      }
    }

    .secondary-part {
      .main-sub-part {
        width: 50%;
      }

      .contact-us-link {
        display: none;
      }
    }
  }

  .choose-us {
    padding: 0 70px;

    .title {
      margin-left: 0;
    }

    .image-wrapper {
      width: 40%;
      min-width: 40%;
    }

    .advantages-wrapper {
      padding-right: 0;
    }
  }
}

@media (max-width: variables.$point-lg) {
  .choose-us {
    .title {
      width: 100%;
      max-width: 100%;
    }

    > div {
      flex-direction: column-reverse;
      align-items: center;

      .image-wrapper {
        margin-top: 30px;
        width: 50%;
        min-width: 50%;
        margin-right: 0;
      }
    }
  }

  .services-list {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;

    .image-container {
      grid-area: auto;
    }

    .sales-block {
      grid-area: 3/3/3/4;
    }
  }

  .law-business {
    .business-types {
      .business-item {
        width: 45%;
        display: flex;
        align-items: center;

        .icon-component {
          height: 80px;
          min-width: 80px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .main-section {
    .main-header-block {
      position: relative;

      .main-background {
        bottom: 0;
        height: calc(100% + 130px);
      }

      .description {
        font-size: 20px;
      }
    }

    .secondary-part {
      .main-sub-part {
        width: 100%;
      }
    }

    .main-sub-part {
      .name-law {
        font-size: 90px;
      }
    }
  }

  .our-functions {
    margin-top: 45px;

    .tarrif-plan-types {
      .slick-slider {
        .tarrif-plan-item {
          box-shadow: 0px 0px 3.7990429401397705px 0px rgba(0, 0, 0, 25%);

          &.dark {
            box-shadow: none;
          }
        }

        .slick-dots {
          display: block !important;
          text-align: center;

          button {
            background-color: variables.$extra-dark-grey;
            opacity: 1;
          }
        }
      }
    }
  }

  .contact-phones-list {
    margin-top: 45px;
  }
}

@media (max-width: variables.$point-l) {
  .services-list,
  .main-section,
  .our-functions {
    padding: 0 35px;
  }

  .services-list {
    .image-container {
      display: none;
    }
  }
}

@media (max-width: 880px) {
  .main-section {
    .main-header-block {
      .info-wrapper {
        position: relative;

        .main-title,
        .description {
          width: 60%;
        }

        .main-background {
          right: 0;
          bottom: 0;
          top: auto;
          background-position: right;
          height: calc(100% + 190px);
        }
      }

      .registration .law-name-info {
        margin-bottom: 0;
      }

      .main-sub-part {
        width: 100%;
      }
    }
    .quality {
      > div {
        max-width: 30%;
      }
      .count {
        font-size: 70px;
        text-align: center;
      }

      .quality-name {
        font-size: 16px;
        text-align: center;
      }
    }
  }

  .our-services {
    padding: 0 35px;
    margin-top: 45px;

    > .title,
    > .description {
      width: 100%;
    }

    .our-services-wrapper {
      justify-content: space-between;
      margin-top: 40px;

      .our-services-item {
        width: 32%;

        .title {
          text-align: center;
        }
      }
    }
  }

  .choose-us {
    padding: 0 35px;
    margin-top: 45px;
  }

  .services-list {
    grid-template-columns: 50% 50%;

    .sales-block {
      grid-area: auto;
    }

    .grid-item-2 {
      padding: 35px 0;
    }
  }

  .law-business {
    background-size: cover;
    margin-top: 45px;
    padding: 35px;
    padding-top: 60px;
  }
}

@media (max-width: variables.$point-md) {
  .law-business {
    .business-types {
      flex-direction: column;

      .business-item {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: variables.$point-m) {
  .our-services {
    > .title {
      font-size: 32px;
    }
    > .description {
      font-size: 18px;
    }

    .our-services-wrapper {
      align-items: flex-start;
      margin-top: 20px;

      .our-services-item {
        .icon-component {
          width: 45px;
          height: 45px;
        }

        .title {
          font-size: 18px;
          margin-top: 10px;
          margin-bottom: 15px;
        }

        .description {
          font-size: 14px;
        }
      }
    }
  }

  .choose-us {
    .title {
      font-size: 32px;
      margin-bottom: 20px;
    }

    > div {
      .image-wrapper {
        margin-top: 0;
      }
    }

    .advantages-wrapper {
      .description {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .advantages-item {
        .icon-component {
          width: 45px;
          height: 45px;
          min-width: 45px;
        }

        .title {
          font-size: 24px;
        }

        .advantages-item-description {
          font-size: 14px;
        }
      }
    }
  }

  .services-list {
    margin-top: 45px;

    .services-list-title {
      font-size: 32px;
    }

    .grid-item-2 {
      font-size: 14px;
      padding: 20px 0;

      .item-2-title {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
  }

  .law-business {
    .title {
      font-size: 32px;

      .selected {
        font-size: 56px;
      }
    }

    .description {
      font-size: 14px;
      margin: 20px 0;
    }

    .business-types {
      margin-top: 35px;
    }
  }

  .contact-us-link {
    font-size: 14px;
  }

  .our-functions {
    .title {
      font-size: 32px;
    }

    .description {
      margin-bottom: 30px;
    }

    .tarrif-plan-types {
      .slick-slider {
        .tarrif-plan-item {
          font-size: 16px;
          padding: 20px;

          .title {
            font-size: 18px;
          }

          .description {
            font-size: 16px;
            margin-bottom: 10px;
          }

          .price-wrapper {
            .price {
              font-size: 38px;
            }
          }

          .start-plan-btn {
            margin-top: 10px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: variables.$point-sm) {
  .main-section {
    padding: 0 20px;

    .main-title {
      font-size: 18px;
    }

    .main-header-block {
      .info-wrapper {
        .description {
          font-size: 14px;
        }

        .main-background {
          height: calc(100% + 158px);
        }
      }
    }

    .main-sub-part.registration {
      .name-law {
        font-size: 68px;
      }

      .description {
        font-size: 16px;
      }
    }

    .quality {
      .count {
        font-size: 32px;
      }

      .quality-name {
        font-size: 14px;
      }
    }
  }

  .our-services {
    padding: 0 20px;

    > .title {
      font-size: 24px;
    }

    > .description {
      font-size: 12px;
    }

    .our-services-wrapper {
      .our-services-item {
        .icon-component {
          width: 40px;
          height: 40px;
        }

        .title {
          font-size: 16px;
        }

        .description {
          font-size: 12px;
          text-align: justify;
        }
      }
    }
  }

  .choose-us,
  .services-list,
  .law-business,
  .our-functions {
    padding: 0 20px;
  }

  .choose-us {
    .title {
      font-size: 28px;
    }

    .advantages-wrapper {
      .description {
        font-size: 12px;
      }

      .advantages-item {
        padding-right: 0;

        .icon-component {
          width: 37px;
          height: 37px;
        }
      }
    }
  }

  .services-list {
    grid-template-rows: 1fr;

    .services-list-title {
      font-size: 24px;
    }
  }

  .law-business {
    padding-top: 65px;

    .title {
      font-size: 22px;
      line-height: 48px;

      .selected {
        font-size: inherit;
      }
    }

    .description {
      font-size: 16px;
    }

    .business-types {
      .business-item {
        .title {
          line-height: 28px;
        }
      }
    }
  }

  .our-functions {
    .our-functions-header {
      .title {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: variables.$point-s) {
  .main-section {
    .main-header-block {
      padding-top: 20px;

      .info-wrapper {
        .main-background {
          width: 80%;
          right: -15px;
          background-position-y: bottom;
        }
      }
    }

    .main-sub-part.registration {
      .name-law {
        font-size: 54px;
      }
    }

    .secondary-part {
      .quality {
        .count {
          font-size: 28px;
        }

        .quality-name {
          font-size: 12px;
        }
      }
    }
  }

  .our-services {
    .our-services-wrapper {
      flex-wrap: wrap;
      justify-content: space-around;

      .our-services-item {
        width: 45%;
        margin-bottom: 15px;
      }
    }
  }

  .contact-us-link {
    padding: 18px 50px;
    box-sizing: border-box;
  }

  .law-business {
    .contact-us-link {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: variables.$point-xxs) {
  .main-section {
    .main-sub-part.registration {
      .name-law {
        font-size: 48px;
      }
    }
  }
}
