@use "../../variables";

.block-element {
  color: #000000;
  border: 1px solid variables.$dark-border-color;
  padding: 50px 20px;
  min-height: 250px;

  &.dark-bg {
    color: #ffffff;
    background-color: variables.$dark-red;
  }

  .title {
    font-family: "Lato-bold";
    font-size: 22px;
    text-transform: uppercase;
  }

  .description {
    font-family: "Raleway";
    font-size: 18px;
    position: relative;
  }
}

@media (max-width: variables.$point-m) {
  .block-element {
    padding: 20px;

    .title {
      font-size: 18px;
    }

    .description {
      font-size: 14px;
    }
  }
}

@media (max-width: variables.$point-sm) {
  .block-element {
    padding: 16px;

    .title {
      font-size: 14px;
    }

    .description {
      font-size: 12px;
    }
  }
}
