@use "../../variables";

.contacts-header-wrapper {
  .contacts-header {
    color: #ffffff;
    background-image: url(../../assets/images/contactImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 27px;
    position: relative;

    .extra-big {
      font-family: "Lato-bold";
      font-size: 112px;
      line-height: 120%;
      margin-top: 70px;
    }

    .contacts-description {
      font-family: "Inter";
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 250px;
      width: 40%;
    }

    .company-name {
      font-family: "Lora-bold";
      font-size: 105px;
      line-height: 150%;
      align-self: flex-end;
    }
  }
}

.law-contacts-wrapper {
  margin-top: 120px;

  .title {
    font-family: "Lato";
    font-size: 88px;
    line-height: 120%;
    margin-bottom: 34px;

    .selected {
      font-family: "Lato-bold";
      color: variables.$dark-red;
    }
  }

  .description {
    font-family: "Inter-medium-24";
    font-size: 24px;
    margin-bottom: 60px;
  }

  .phone-wrapper {
    font-family: "Roboto";
    font-size: 20px;
    margin-bottom: 14px;
    width: 80%;

    .icon-component {
      width: 42px;
      height: 28px;
      margin-right: 50px;
    }
  }

  .contact-us-form {
    .form-title {
      font-family: "Roboto-bold";
      font-size: 24px;
    }

    label {
      font-family: "Roboto-bold";
      font-size: 14px;
    }

    .form-item-wrapper {
      .ant-form-item {
        width: 47%;
      }
    }

    input,
    textarea,
    .ant-select-selector {
      font-size: 14px;
      border: 1px solid #cccccc;
      padding: 12px;

      &:focus {
        box-shadow: none;
      }

      &::placeholder,
      .ant-select-selection-placeholder {
        font-family: "Roboto";
        color: #999999;
      }
    }

    input[type="file"] {
      padding: 0;
      border: none;
    }

    .phone-number-item {
      .form-control {
        font-family: "Inter-medium-24";
        font-size: 14px;
        height: auto;
        padding: 10px;
        padding-left: 60px;
        width: 100%;
      }

      .flag-dropdown {
        background-color: #ffffff;
        width: 56px;

        .selected-flag {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 0;
        }
      }
    }

    .submit-button {
      font-family: "Lora-medium";
      font-size: 24px;
      background-color: variables.$dark-red;
      width: 100%;
      padding: 13px;
      height: auto;

      &:hover {
        background-color: variables.$dark-red;
      }
    }

    .ant-select {
      height: auto;
      .ant-select-selector {
        padding: 8px;
      }

      &:hover .ant-select-selector {
        border: 1px solid #cccccc !important;
      }
    }

    .file-form-item {
      margin-bottom: 10px;
    }

    .file-remark {
      font-family: "Roboto";
      font-size: 14px;
      margin-bottom: 20px;
    }

    .ant-select-focused {
      .ant-select-selector {
        box-shadow: none !important;
      }

      &:focus-within .ant-select-selector {
        border-color: #cccccc !important;
      }
    }

    .checkbox-form-item {
      .ant-checkbox-inner {
        border: 1px solid variables.$dark-red;
      }

      .ant-checkbox-checked {
        &:hover {
          .ant-checkbox-inner {
            border: 1px solid variables.$dark-red;
            background: none;
          }
        }
        .ant-checkbox-inner::after {
          border-color: variables.$dark-red;
        }
      }
    }
  }
}

@media (max-width: variables.$point-l) {
  .contacts-header-wrapper {
    .contacts-header {
      .extra-big {
        font-size: 98px;
      }
      .company-name {
        font-size: 88px;
      }
      .contacts-description {
        width: 70%;
      }
    }
  }

  .law-contacts-wrapper {
    margin-top: 70px;
    flex-direction: column;

    > div {
      width: 100%;
      margin-bottom: 40px;
    }

    .title {
      font-size: 78px;
    }
  }
}

@media (max-width: variables.$point-md) {
  .contacts-header-wrapper {
    .contacts-header {
      .extra-big {
        font-size: 72px;
      }
      .company-name {
        font-size: 68px;
      }
      .contacts-description {
        width: 100%;
      }
    }
  }

  .law-contacts-wrapper {
    margin-top: 45px;

    .title {
      font-size: 64px;
    }
  }
}

@media (max-width: variables.$point-m) {
  .contacts-header-wrapper {
    .contacts-header {
      // .extra-big {
      //   font-size: 72px;
      // }
      // .company-name {
      //   font-size: 68px;
      // }
      .contacts-description {
        font-size: 20px;
      }
    }
  }

  .law-contacts-wrapper {
    .title {
      font-size: 56px;
    }
    .phone-wrapper {
      width: 100%;
    }
  }
}

@media (max-width: 540px) {
  .contacts-header-wrapper {
    .contacts-header {
      .extra-big {
        font-size: 64px;
      }
      .company-name {
        font-size: 60px;
      }
      .contacts-description {
        font-size: 18px;
        margin-bottom: 100px;
      }
    }
  }

  .law-contacts-wrapper {
    .title {
      font-size: 48px;
    }

    .description {
      font-size: 20px;
    }

    .phone-wrapper {
      font-size: 18px;
    }

    .contact-us-form {
      .form-item-wrapper {
        flex-direction: column;

        .ant-form-item {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: variables.$point-s) {
  .contacts-header-wrapper {
    .contacts-header {
      .extra-big {
        font-size: 56px;
      }
      .company-name {
        font-size: 52px;
      }
      .contacts-description {
        font-size: 16px;
      }
    }
  }

  .law-contacts-wrapper {
    .title {
      font-size: 32px;
    }

    .description {
      font-size: 18px;
    }

    .phone-wrapper {
      font-size: 16px;

      .icon-component {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: variables.$point-xs) {
  .contacts-header-wrapper {
    .contacts-header {
      padding: 0 15px;

      .extra-big {
        font-size: 52px;
      }
      .company-name {
        font-size: 46px;
      }
      .contacts-description {
        font-size: 14px;
      }
    }
  }

  .law-contacts-wrapper {
    margin-top: 20px;

    > div {
      margin-bottom: 20px;
    }

    .title {
      font-size: 26px;
      margin-bottom: 10px;
    }

    .description {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .phone-wrapper {
      font-size: 14px;
    }
  }
}
