@use "../../variables";

.american-region-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;

  .block-element {
    box-sizing: border-box;
    height: 100%;
  }

  .england {
    background-image: url(../../assets/images/england.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .curacao,
  .canada,
  .usa {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-position-y: 95%;
    justify-content: flex-start;

    .description {
      margin-top: 10px;
    }
  }

  .curacao,
  .beliz,
  .canada,
  .usa {
    .more-link {
      display: none;
    }
  }

  .curacao-link {
    grid-column-start: 2;
  }

  .image-wrapper {
    position: relative;
    grid-column-end: span 2;

    .american-region {
      background-image: url(../../assets/images/americanRegion.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left center;
      position: absolute;
      background-color: variables.$dark-red;
      border-radius: 50%;
      bottom: 20px;
      right: 50%;
      transform: translateX(50%);
      width: 70%;
      height: calc(100% + 150px);
    }
  }

  .beliz {
    justify-content: flex-start;

    .description {
      margin-top: 15%;
    }
  }

  .usa {
    background-image: url(../../assets/images/usaWhiteHouse.png);
    background-size: 90%;
  }

  .curacao {
    background-image: url(../../assets/images/curacaoImage.png);
    background-size: 95%;
  }

  .canada {
    background-image: url(../../assets/images/canadaCelebration.png);
    background-size: 90%;

    .description {
      background-color: #ffffff59;
    }
  }
}

@media (max-width: variables.$point-xl) {
  .american-region-wrapper {
    .image-wrapper {
      .american-region {
        height: 100%;
        width: 60%;
      }
    }
  }
}

@media (max-width: variables.$point-lg) {
  .american-region-wrapper {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;

    .image-wrapper {
      grid-column-end: auto;

      .american-region {
        width: 100%;
        bottom: 0;
      }
    }
    
    .curacao-link {
      grid-column-start: auto;
    }

    .beliz-link {
      order: 1;
    }
  }
}

@media (max-width: variables.$point-lg) {
  .american-region-wrapper {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;

    .image-wrapper {
      .american-region {
        width: 60%;
      }
    }
  }
}

@media (max-width: 920px) {
  .american-region-wrapper {
    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .american-region {
        position: static;
        transform: none;
        width: 250px;
        height: 250px;
      }
    }
  }
}


@media (max-width: variables.$point-m) {
  .american-region-wrapper {
    .image-wrapper {
      .american-region {
        width: 180px;
        height: 180px;
      }
    }
  }
}

@media (max-width: variables.$point-s) {
  .american-region-wrapper {
    display: flex;
    flex-direction: column;
  }
}