@use "../../variables";

.create-company-page {
  padding: 0 70px;

  .create-company-page-header {
    background-image: url(../../assets/images/companyRegistration.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lato-bold";
    color: #ffffff;
    padding: 68px 54px;
    margin-bottom: 100px;

    .title {
      font-size: 61px;
      text-transform: uppercase;
    }

    .description {
      font-size: 28px;
      line-height: 150%;
      margin-top: 23px;
      margin-bottom: 200px;
      width: 45%;
    }
  }

  .create-company-forms {
    > div {
      width: 48%;
    }

    .title {
      font-family: "Lato-bold";
      font-size: 42px;
    }

    .step-label {
      color: #a1a1a1;
      font-size: 32px;
      margin: 70px 0;
    }

    .steps-wrapper {
      margin-bottom: 63px;

      .ant-steps-item {
        .ant-steps-item-content {
          display: none;
        }

        &.ant-steps-item-finish {
          .ant-steps-item-icon {
            background-color: #a1a1a1;

            .ant-steps-icon {
              color: #000000;
            }
          }
          > .ant-steps-item-container {
            > .ant-steps-item-tail::after {
              background-color: #a1a1a1;
            }

            &:hover {
              .ant-steps-item-icon .ant-steps-icon {
                color: #000000;
              }
            }
          }
        }

        .ant-steps-item-tail {
          top: 20px;
          margin-inline-start: 18px;

          &::after {
            background-color: #a1a1a1;
          }
        }

        .ant-steps-item-icon {
          border: none;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-inline-start: 0;

          .ant-steps-icon {
            font-family: "Roboto-medium";
            font-size: 24px;
          }
        }

        &.ant-steps-item-active {
          .ant-steps-item-container:hover {
            .ant-steps-item-icon .ant-steps-icon {
              color: #ffffff;
            }
          }

          .ant-steps-item-icon {
            background-color: variables.$dark-red;
            color: #ffffff;
          }
        }

        &.ant-steps-item-wait {
          .ant-steps-item-container:hover {
            .ant-steps-item-icon .ant-steps-icon {
              color: #000000;
            }
          }
          .ant-steps-item-icon {
            background-color: #a1a1a1;
            .ant-steps-icon {
              color: #000000;
            }
          }
        }
      }
    }

    .main-form-wrapper {
      font-family: "Lato";
      font-size: 24px;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 25%);
      padding: 40px 20px;
      box-sizing: border-box;
    }

    .settings-part {
      margin-top: 39px;
      margin-bottom: 77px;
    }

    .recomendation-part {
      padding-top: 0;
      margin-bottom: 200px;

      .title {
        margin-bottom: 80px;
      }
    }

    .padding-top-delete {
      padding-top: 0;

      .title {
        margin-bottom: 59px;
      }
    }

    .border-top {
      border-top: 10px solid variables.$red-form-color;
    }

    .secondary-form-wrapper {
      font-family: "Lato";
      font-size: 24px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
      padding: 40px 20px;
      box-sizing: border-box;
      position: relative;

      .title,
      .form-value {
        color: variables.$red-form-color;
      }

      .border-bottom-block {
        padding-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid variables.$light-grey;
        text-align: right;
        margin-bottom: 23px;
      }

      .red-text {
        color: variables.$dark-red;
      }

      .form-value {
        text-align: right;
      }

      .form-item-description {
        color: #434343;
      }
    }

    .promocode-wrapper {
      border: 1px solid #a1a1a1;
      margin-top: 45px;

      input {
        border: none;

        &::placeholder {
          color: #000000;
        }
      }

      input,
      button {
        font-size: 24px;
        padding: 16px 18px;
      }

      button {
        background-color: #d32525;
        color: #ffffff;
        border-radius: 0;
        height: auto;

        &:hover {
          background-color: #d32525;
          color: #ffffff;
        }
      }
    }
    
    .order-details {
      margin-bottom: 107px;
    }

    .next-step-button {
      background-color: variables.$button-bg;
      font-size: 24px;
      color: #ffffff;
      border-radius: 16px;
      padding: 16px;
      width: 100%;
      height: auto;
      margin-top: 119px;

      &:hover {
        background-color: variables.$button-bg;
        color: #ffffff;
      }
    }

    .form-label,
    .ant-form-item-label {
      font-family: "Lora-bold";
      font-size: 24px;

      label {
        font-size: 24px;
      }
    }

    .form-label {
      margin-bottom: 10px;
      button {
        height: auto;
      }
      .icon-component {
        width: 44px;
        height: 44px;
      }
    }

    .full-input {
      font-family: "Lora";
      padding: 16px 18px;
      border: 1px solid variables.$light-grey;
      border-radius: 0;

      &.red-input {
        color: variables.$red-color;
        &::placeholder {
          color: variables.$red-color;
        }
      }

      &.border-bottom {
        border: none;
        border-bottom: 1px solid variables.$light-grey;
      }

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        font-family: "Lora";
        font-size: 24px;
        color: #000000;
      }
    }

    .select-wrapper {
      border-bottom: 1px solid variables.$light-grey;
      padding-right: 18px;

      .icon-component {
        width: 45px;
        height: 45px;
      }
      .ant-select {
        max-width: 50%;

        .ant-select-selector {
          border: none !important;
        }
      }
    }

    .ant-select {
      font-size: 24px;
      height: auto;

      &.border-bottom-input {
        .ant-select-selector {
          border: none;
          border-bottom: 1px solid;
        }
      }

      &.right-alignet {
        .ant-select-selection-item {
          text-align: right;
        }
      }

      &:hover .ant-select-selector {
        border-color: variables.$light-grey !important;
      }

      &.ant-select-focused .ant-select-selector {
        box-shadow: none !important;
        border-color: variables.$light-grey !important;
      }

      .ant-select-selector {
        height: auto;
        border-radius: 0;
        border: 1px solid variables.$light-grey;

        .ant-select-selection-wrap {
          @extend .full-input;
          padding: 14px 10px;
          height: auto;
          border: none;

          .ant-select-selection-item {
            font-size: 24px;
          }
        }
      }
    }

    .sub-title-wrapper {
      font-family: "Lora-bold";
      text-transform: uppercase;
      padding-bottom: 20px;
      border-bottom: 1px solid #a1a1a1;
      margin-bottom: 30px;

      .icon-component {
        width: 50px;
        height: 50px;
      }
    }

    .country-select button {
      @extend .full-input;
      color: #000000;
      padding: 8px 15px;
      font-size: 24px !important;
    }
    .form-values-divider {
      > div {
        width: 47%;
      }
    }
  }
}
