@use "../../variables";

.financial-license-page-wrapper {
  .banner-wrapper {
    font-family: "Lora-bold";
    margin-bottom: 135px;

    .sub-description {
      font-size: 30px;
      width: 40%;
      align-self: flex-end;
    }

    .title {
      color: variables.$red-color;
      font-size: 200px;
    }

    .financical-info {
      background-color: variables.$dark-red;
      border-radius: 50px;
      padding: 130px 60px;
      position: relative;
      margin-top: 15px;

      .image-wrapper {
        background-image: url(../../assets/images/highTech-science.png);
        background-size: contain;
        position: absolute;
        background-repeat: no-repeat;
        right: 0;
        bottom: 0;
        width: 45%;
        height: calc(100% + 60px);
      }
    }

    .description {
      color: #ffffff;
      font-size: 45px;
      line-height: 150%;
      width: 57%;
    }
  }

  .risk-management-wrapper {
    background-image: url(../../assets/images/lionsinlawRiskManagement.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 82px;
    padding-bottom: 125px;
    padding-left: 64px;
    margin-top: 120px;

    .wrapper {
      color: #ffffff;

      .title {
        font-family: "Lora-medium";
        font-size: 45px;
      }

      .description {
        font-family: "Lora-bold";
        font-size: 24px;
        width: 50%;
        margin-top: 46px;
        margin-bottom: 76px;
      }
    }
  }

  .license-block-wrapper {
    margin-bottom: 150px;
  }
  .faq-wrapper {
    padding: 0;
  }
}

@media (max-width: variables.$point-lg) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 170px;
      }

      .financical-info {
        .image-wrapper {
          background-position: center center;
        }
      }
    }
  }
}

@media (max-width: 1154px) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 168px;
      }

      .description {
        width: 100%;
        z-index: 2;
      }

      .sub-description {
        width: 60%;
      }

      .financical-info {
        padding: 60px;
        padding-bottom: 150px;
        padding-top: 20px;

        .image-wrapper {
          background-position: right bottom;
          z-index: 1;
        }
      }
    }
  }
}

@media (max-width: variables.$point-l) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 148px;
      }
    }
  }
}

@media (max-width: 900px) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 136px;
      }
    }
  }
}

@media (max-width: 850px) {
  .financial-license-page-wrapper {
    > div {
      margin: 0 !important;
      margin-bottom: 70px !important;
    }

    .banner-wrapper {
      .sub-description {
        font-size: 26px;
      }

      .title {
        font-size: 120px;
      }

      .description {
        font-size: 36px;
      }
    }

    .risk-management-wrapper {
      background-position: right;
      padding: 60px;

      .wrapper .description {
        width: 100%;
      }
    }
  }
}

@media (max-width: variables.$point-md) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 100px;
      }

      .financical-info {
        padding: 40px;

        .description {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: variables.$point-m) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 90px;
      }

      .sub-description {
        font-size: 24px;
      }

      .financical-info {
        .description {
          font-size: 26px;
        }
      }
    }

    .risk-management-wrapper {
      padding: 30px;
    }
  }
}

@media (max-width: variables.$point-m) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 72px;
      }
    }
  }
}

@media (max-width: variables.$point-md) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 100px;
      }

      .financical-info {
        padding: 40px;

        .description {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: variables.$point-s) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 60px;
      }

      .sub-description {
        font-size: 20px;
        width: 80%;
      }

      .financical-info {
        .description {
          font-size: 18px;
        }
      }
    }

    .risk-management-wrapper {
      .wrapper {
        .title {
          font-size: 32px;
        }
        .description {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: variables.$point-xs) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 56px;
      }

      .sub-description {
        font-size: 14px;
      }

      .financical-info {
        .description {
          font-size: 14px;
        }
      }
    }

    .risk-management-wrapper {
      .wrapper {
        .title {
          font-size: 24px;
        }
        .description {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .financial-license-page-wrapper {
    .banner-wrapper {
      .title {
        font-size: 46px;
      }
    }
  }
}
