@use "../../variables";

.asian-region-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;

  .block-element {
    background-repeat: no-repeat;
    background-size: 93%;
    background-position: center bottom;
    background-position-y: calc(100% - 10px);
    justify-content: flex-start;

    .title {
      text-align: center;
    }

    .description {
      margin-top: 10px;
    }

    .more-link {
      display: none;
    }

    &.seychelles {
      background-image: url(../../assets/images/SeychellesCastle.png);
    }

    &.mauritius {
      background-image: url(../../assets/images/MauritiusCastle.png);
    }
  }
}

@media (max-width: variables.$point-xl) {
  .asian-region-wrapper {
    grid-template-columns: 33% 33%;
  }
}

@media (max-width: 905px) {
  .asian-region-wrapper {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: variables.$point-s) {
  .asian-region-wrapper {
    display: flex;
    flex-direction: column;
  }
}
