@use "../../variables";

.description-block {
  color: #000000;
  border: 1px solid variables.$dark-border-color;
  padding: 50px 20px;
  min-height: 250px;

  &.dark-bg {
    color: #ffffff;
    background-color: variables.$dark-red;
  }

  .title {
    font-family: "Inter-bold";
    font-size: 24px;
    text-transform: uppercase;
  }

  .description {
    font-family: "Raleway";
    font-size: 22px;
  }
}

@media (max-width: variables.$point-l) {
  .description-block {
    min-height: auto;

    .description {
      margin: 20px;
    }
  }
}

@media (max-width: variables.$point-md) {
  .description-block {
    .title {
      font-size: 22px;
    }

    .description {
      font-size: 20px;
    }
  }
}

@media (max-width: variables.$point-s) {
  .description-block {
    .description {
      font-size: 18px;
    }
  }
}

@media (max-width: variables.$point-xs) {
  .description-block {
    padding: 20px;

    .title {
      font-size: 20px;
    }
    .description {
      font-size: 14px;
    }
  }
}
