@use "../../variables";

.european-region-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;

  .block-element {
    box-sizing: border-box;
    height: 100%;
  }

  .england {
    background-image: url(../../assets/images/england.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .england,
  .spain,
  .ireland,
  .poland,
  .usa,
  .czech {
    .more-link {
      display: none;
    }
  }

  .spain-link {
    grid-column-start: 4;
    grid-row-end: span 2;
  }

  .spain {
    background-image: url(../../assets/images/spainCastle.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    background-position-y: 95%;
    justify-content: flex-start;
    height: 100%;
    box-sizing: border-box;

    .description {
      margin-top: 40%;
    }
  }

  .ireland {
    background-image: url(../../assets/images/iralend.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    background-position-y: 95%;
    justify-content: flex-start;

    .description {
      margin-top: 10px;
    }
  }

  .men-island {
    background-image: url(../../assets/images/menIsland.png);
    background-repeat: no-repeat;
    background-size: 47%;
    background-position-x: calc(100% - 20px);
    background-position-y: calc(100% - 20px);
    grid-column-start: 2;
    grid-column-end: span 2;

    .description {
      width: 50%;
    }
  }

  .usa,
  .czech {
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;

    .description {
      width: 50%;
      padding: 10px;

      .description-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .usa-link,
  .czech-link {
    grid-column-end: span 2;
  }

  .usa {
    background-image: url(../../assets/images/usaWhiteHouse.png);

    .description {
      .description-bg {
        background-color: #d9d9d9;
        opacity: 0.5;
      }
    }
  }

  .czech {
    background-image: url(../../assets/images/czechCastle.png);

    .description {
      .description-bg {
        background-color: #8d8585;
        opacity: 0.2;
      }
    }
  }

  .poland {
    background-image: url(../../assets/images/polandCastle.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center bottom;
    background-position-y: 90%;
    justify-content: flex-start;

    .description {
      margin-top: 15px;
    }
  }
}

@media (max-width: variables.$point-lg) {
  .european-region-wrapper {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    .spain-link {
      grid-column-start: 3;
      grid-row-end: span 1;
    }

    .men-island {
      grid-column-start: 1;
    }

    .poland-link {
      order: 1;
    }
  }
}

@media (max-width: 870px) {
  .european-region-wrapper {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .spain-link {
      grid-column-start: auto;
    }
  }
}

@media (max-width: variables.$point-s) {
  .european-region-wrapper {
    display: flex;
    flex-direction: column;

    .poland-link {
      order: 0;
    }
  }
}
