@use "../../variables";

.secondary-description-grid {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 30px;

    > div {
      border-radius: 4px;
    }
  }

  .grid-container,
  .description-col {
    width: 50%;
  }

  .financial-block,
  .risk-wrapper {
    position: relative;
    top: 80px;
  }

  .description-col {
    padding-left: 90px;

    .title {
      font-family: "Lato-bold";
      text-transform: uppercase;
      font-size: 42px;
      line-height: 150%;

      .selected-text,
      .company-name {
        color: variables.$dark-red;
      }

      .company-name {
        font-size: 98px;
        text-transform: none;
      }
    }

    .description {
      font-family: "Lora-medium";
      font-size: 24px;
      text-transform: none;
      line-height: 150%;
      margin-top: 170px;
    }
  }
}

@media (max-width: variables.$point-lg) {
  .secondary-description-grid {
    .grid-container {
      width: 57%;
      grid-template-columns: 48% 48%;
      box-sizing: border-box;
    }
    .description-col {
      padding-left: 10px;
      width: 40%;
      box-sizing: border-box;

      .title {
        font-size: 32px;

        .company-name {
          font-size: 70px;
        }
      }

      .description {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 1148px) {
  .secondary-description-grid {
    flex-direction: column-reverse;

    .grid-container {
      width: 100%;
    }

    .description-col {
      width: 100%;
      margin-bottom: 50px;

      .description {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 570px) {
  .secondary-description-grid {
    .description-col {
      .title .company-name {
        font-size: 60px;
      }
    }
    .grid-wrapper {
      display: flex;
      flex-direction: column;
      > div {
        p {
          font-size: 20px;
        }
      }

      .risk-wrapper {
        position: static;
      }

      .financial-block {
        position: static;
        order: 1;
      }
    }
  }
}

@media (max-width: variables.$point-s) {
  .secondary-description-grid {
    .description-col {
      .title {
        font-size: 24px;
      }

      .description {
        font-size: 14px;
      }
    }

    .grid-wrapper {
      > div {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
