@use "../../variables";

.responsive-menu-wrapper {
  padding: 20px;
  min-width: 408px;
  box-sizing: border-box;

  .menu-header-wrapper {
    font-family: "Lato";
    font-size: 48px;
    padding-bottom: 30px;
    border-bottom: 1px solid variables.$border-color;
  }

  .menu-links-wrapper {
    margin-top: 30px;
  }

  a {
    font-family: "Raleway-bold";
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
    text-transform: capitalize;

    &:hover {
      color: #000000;
    }
  }
}

@media (max-width: variables.$point-md) {
  .responsive-menu-wrapper {
    .menu-header-wrapper {
      font-size: 40px;
    }
  }
}

@media (max-width: variables.$point-s) {
  .responsive-menu-wrapper {
    .menu-header-wrapper {
      font-size: 34px;
    }
  }
}

@media (max-width: variables.$point-xs) {
  .responsive-menu-wrapper {
    min-width: 100%;
  }
}
