@use "../../variables";

.trademark-registration-page {
  padding: 0 70px;

  .trademark-registration-header {
    position: relative;
    padding-bottom: 57px;

    .banner-image {
      width: 56%;
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);

      img {
        max-width: 100%;
      }
    }

    > div {
      width: 50%;
    }

    .title-wrapper {
      padding-top: 70px;
      .title {
        font-family: "Lora-bold";
        font-size: 140px;
        color: variables.$red-color;
      }

      .link {
        padding: 15px 35px;
      }

      .description {
        font-family: "Raleway-bold";
        font-size: 32px;
        text-transform: uppercase;
        margin-top: 90px;
        margin-bottom: 80px;
        width: 70%;
      }

      .partners-wrapper {
        margin-top: 140px;
        width: 60%;

        .partners-title {
          font-family: "Roboto-bold";
          font-size: 27px;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        .icon-component {
          width: 150px;
          height: 55px;
          min-width: 150px;
        }
      }
    }

    .info-wrapper {
      font-family: "Roboto-bold";
      width: 35%;

      .sub-description {
        font-size: 24px;
      }

      .time-info-wrapper {
        width: 50%;

        .time-wrapper {
          font-family: "Lato-bold";

          .count {
            font-size: 56px;
          }

          .month {
            font-size: 38px;
            color: #858585;
            align-self: flex-end;
          }
        }
        p {
          font-family: "Roboto-bold";
          font-size: 22px;
          text-transform: capitalize;
          margin-top: 25px;
        }
      }

      .clients-wapper {
        padding: 20px;
        box-shadow: 0px 22px 26px 0px rgba(155, 155, 155, 25%);
        border-radius: 15px;
        border: 1px solid #cdcdcd;
        margin-bottom: 40px;

        .image-wrapper {
          margin-right: 10px;
          img {
            max-width: 100%;
          }
        }

        .icon-component {
          margin-right: 10px;
          width: 25px;
          height: 25px;
        }

        p {
          font-family: "Inter";
          font-size: 18px;
        }

        .count {
          font-family: "Inter-bold";
          font-size: 30px;
        }
      }
    }
  }

  .trademark-experiance {
    margin-top: 120px;

    > div {
      width: 50%;
      box-sizing: border-box;

      img {
        max-width: 100%;
      }
    }

    .info-wrapper {
      font-family: "Lato-bold";
      font-size: 24px;
      padding-right: 30px;

      .title {
        text-transform: uppercase;
        font-size: 42px;
      }

      .experiance-info-wrapper .description {
        margin-top: 70px;
      }

      .experiance-item {
        width: 45%;

        .title {
          font-size: 24px;
          margin: 37px 0;
        }

        .icon-component {
          width: 102px;
          height: 84px;
        }

        .description {
          font-size: 18px;
        }
      }
    }
  }

  .choose-trademarks {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 1fr 1fr;
    margin: 120px 0;

    .description-block {
      .title {
        text-align: center;
      }
    }

    .image-wrapper-block,
    .title-block {
      grid-column-end: span 2;
    }

    .title-block {
      font-family: "Lato-semi";

      .title {
        font-size: 42px;
        text-transform: uppercase;
        color: variables.$dark-red;
        margin: 30px 0;
      }

      .description {
        font-size: 32px;
      }
    }

    .image-wrapper-block {
      img {
        max-width: 100%;
      }
    }
  }

  .brand-security-wrapper {
    margin-top: 120px;

    .title {
      font-family: "Roboto-bold";
      font-size: 62px;
      text-transform: uppercase;

      .selected-text {
        font-family: "Lora-bold";
        font-size: 114px;
        color: variables.$dark-red;
        text-transform: none;
      }
    }

    .description {
      font-family: "Lora-bold";
      font-size: 32px;
      text-transform: capitalize;
    }

    .link {
      padding: 15px 49px;
    }

    .brand-security-wrapper-info > div {
      width: 50%;
      box-sizing: border-box;

      img {
        max-width: 100%;
      }
    }

    .info-description {
      padding-top: 75px;
      padding-bottom: 45px;
    }

    .image-wrapper {
      padding-left: 60px;
    }
  }

  .faq-wrapper {
    padding: 0;
  }
}
