@use "../../variables";

.seychelles-company-page-wrapper {
  .seychelles-company-header {
    font-family: "Lora-bold";
    padding-top: 56px;
    padding-bottom: 112px;
    position: relative;

    .banner {
      background-image: url(../../assets/images/seychellesBanner.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 75%;
      height: calc(100% + 180px);
      left: 20%;
      bottom: 0;
      position: absolute;
      z-index: -1;
    }

    > div {
      width: 40%;
    }

    .title {
      font-size: 54px;
      margin-bottom: 141px;
      margin-top: 58px;
    }

    .description {
      font-size: 24px;
      width: 70%;
    }

    .law-name {
      font-size: 105px;
      color: variables.$dark-red;
    }
  }
  .secondary-description-grid {
    margin-bottom: 180px;
  }
}

@media (max-width: 1530px) {
  .seychelles-company-page-wrapper {
    .seychelles-company-header {
      .banner {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: variables.$point-xl) {
  .seychelles-company-page-wrapper {
    .seychelles-company-header {
      >div {
        width: 46%;
      }

      .banner {
        height: 100%;
        max-height: 100%;

      }
    }
  }
}

@media (max-width: variables.$point-lg) {
  .seychelles-company-page-wrapper {
    .seychelles-company-header {
      .banner {
        background-position-y: bottom;
        width: 100%;
        left: 0;
      }
    }
  }
}

@media (max-width: 1147px) {
  .seychelles-company-page-wrapper {
    .seychelles-company-header {
      flex-direction: column-reverse;

      >div {
        width: 100%;
      }

      .banner {
        background-size: cover;
      }
    }
  }
}

@media (max-width: variables.$point-l) {
  .seychelles-company-page-wrapper {
    >div {
      margin-top: 0;
      margin-bottom: 70px;
    }
  }
}

@media (max-width: variables.$point-md) {
  .seychelles-company-page-wrapper {
    .seychelles-company-header {
      .law-name {
        font-size: 80px;
      }
      .title {
        font-size: 48px;
      }

      .description {
        width: 100%;
      }
    }
  }
}

@media (max-width: variables.$point-md) {
  .seychelles-company-page-wrapper {
    .seychelles-company-header {
      .law-name {
        font-size: 76px;
      }
      .title {
        font-size: 42px;
      }

      .description {
        width: 100%;
      }

      .banner {
        background-position-x: center;
      }
    }
  }
}

@media (max-width: variables.$point-m) {
  .seychelles-company-page-wrapper {
    .seychelles-company-header {
      .law-name {
        font-size: 68px;
      }
      .title {
        font-size: 36px;
      }

      .description {
        width: 100%;
      }

      .banner {
        background-position-x: left;
      }
    }
  }
}

@media (max-width: variables.$point-sm) {
  .seychelles-company-page-wrapper {
    .seychelles-company-header {
      .law-name {
        font-size: 58px;
      }
      .title {
        font-size: 32px;
      }

      .description {
        font-size: 20px;
      }

      .banner {
        background-position-x: center;
      }
    }
  }
}

@media (max-width: variables.$point-s) {
  .seychelles-company-page-wrapper {
    .seychelles-company-header {
      .law-name {
        font-size: 52px;
      }
      .title {
        font-size: 30px;
      }

      .description {
        font-size: 18px;
      }

      .banner {
        background-position-x: left;
      }
    }
  }
}