.header {
  font-family: "Roboto-bold";
  font-size: 18px;
  color: #000000;
  padding: 0 70px;
  margin-bottom: 50px;

  &.delete-mg {
    margin-bottom: 0;
  }

  .left-align-header {
    justify-content: flex-start;
  }

  a {
    font-family: "Roboto-bold";
    font-size: 18px;
    color: #000000;

    &.email-wrapper {
      display: flex;
      align-items: center;

      .icon-component {
        margin-right: 10px;
      }
    }
  }

  .menu-item {
    font-family: "Roboto-bold";
    font-size: 18px;
    background: none;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    .icon-component {
      height: 7px;
      width: 14px;
      transition: all ease-in 0.2s;
    }

    &:hover {
      color: #000000 !important;
      background: none !important;

      .icon-component {
        transform: rotate(-180deg);
      }
    }
  }

  .header-menu-wrapper {
    & > span,
    & > a,
    & > .ant-btn {
      margin-left: 40px;
      cursor: pointer;
    }
  }
}
