@use "../../variables";

.choice-reasons-wrapper {
  font-family: "FiraSans";
  padding: 0 110px;
  margin: 120px 0;

  > .title {
    font-family: "Lato";
    font-size: 42px;
    text-transform: uppercase;
  }

  > .description {
    font-size: 20px;
    margin-top: 20px;
  }

  > .title,
  > .description {
    text-align: center;
  }

  .reasons-list {
    margin-top: 80px;

    .reason-item {
      width: 32%;

      .title {
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      .description {
        font-size: 16px;
        color: #626262;
      }

      .individual-choise {
        width: 94px;
        height: 100px;
      }

      .komplex {
        width: 110px;
        height: 100px;
      }

      .expert {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media (max-width: 920px) {
  .choice-reasons-wrapper {
    padding: 0 35px;
    margin-top: 45px;
  }
}

@media (max-width: variables.$point-md) {
  .choice-reasons-wrapper {
    margin: 45px 0;

    .title {
      font-size: 34px;
    }

    .reasons-list {
      margin-top: 50px;

      .reason-item {
        .icon-component {
          width: 70px;
          height: 80px;
        }

        .title {
          font-size: 24px;
          margin: 20px 0;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: variables.$point-sm) {
  .choice-reasons-wrapper {
    .title {
      font-size: 24px;
    }

    .reasons-list {
      .reason-item {
        .icon-component {
          width: 60px;
          height: 70px;
        }

        .title {
          font-size: 20px;
          margin-top: 10px;
        }

        .description {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: variables.$point-xs) {
  .choice-reasons-wrapper {
    .reasons-list {
      flex-wrap: wrap;
      justify-content: space-around;
      .reason-item {
        width: 50%;
        margin-bottom: 20px;
      }
    }
  }
}
