@use "../../variables";

.spain-company-page-wrapper {
  .spain-company-header {
    font-family: "Inter-bold";
    background-image: url(../../assets/images/spainBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    padding: 106px 80px;

    .header-wrapper {
      width: 70%;
    }

    .title {
      font-size: 55px;
      text-transform: uppercase;
    }

    .description {
      font-size: 32px;
      margin-top: 67px;
      width: 80%;
    }

    .header-image {
      background-image: url(../../assets/images/businessman-holding-folder.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 25%;
      height: calc(100% + 80px);
      position: absolute;
      left: 30px;
      bottom: 0;
    }
  }

  .consulting-offshore-comp-wrapper {
    margin-top: 200px;
  }

  .faq-wrapper {
    padding: 0;
  }
}

@media (max-width: variables.$point-lg) {
  .spain-company-page-wrapper {
    .spain-company-header {
      padding: 80px 60px;

      .header-wrapper {
        width: 85%;
        z-index: 2;
      }

      .header-image {
        background-position: center bottom;
        width: 280px;
        height: 480px;
        z-index: 1;
      }
    }
  }
}

@media (max-width: variables.$point-l) {
  .spain-company-page-wrapper {
    .spain-company-header {
      .header-wrapper {
        width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  .spain-company-page-wrapper {
    > div {
      margin-top: 0;
      margin-bottom: 70px;
    }
    .spain-company-header {
      padding: 60px 30px;
      .header-wrapper {
        .title {
          font-size: 48px;
        }

        .description {
          font-size: 28px;
        }
      }
    }
  }
}

@media (max-width: variables.$point-m) {
  .spain-company-page-wrapper {
    .spain-company-header {
      .header-wrapper {
        .title {
          font-size: 34px;
        }

        .description {
          font-size: 24px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: variables.$point-sm) {
  .spain-company-page-wrapper {
    .spain-company-header {
      padding: 40px 15px;

      .header-wrapper {
        .title {
          font-size: 26px;
        }

        .description {
          font-size: 18px;
        }
      }

      .header-image {
        width: 170px;
        height: 270px;
      }
    }
  }
}
