@use "../../variables";

.england-company-wrapper {
  .england-company-header {
    font-family: "Lato-bold";
    background-image: url(../../assets/images/englandBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    padding: 88px 52px;
    padding-bottom: 145px;

    .title-wrapper {
      width: 60%;
    }

    .title {
      font-size: 60px;
      margin-bottom: 45px;
      text-transform: uppercase;
    }

    .description {
      font-size: 32px;
      width: 70%;
    }
  }
}

.england-consulting {
  background-color: #2a1615;
  background-image: url(../../assets/images/englandSecondaryBanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 142px 0;
  margin-top: 250px;

  > div {
    color: #ffffff;
    width: 60%;

    .title {
      font-family: "Roboto-bold";
      font-size: 30px;
      text-transform: uppercase;

      .selected-text {
        font-family: "Lato-bold";
        font-size: 57px;
        color: variables.$red-color;
        text-transform: none;
      }
    }

    .description {
      font-family: "Raleway-bold";
      font-size: 16px;
      margin: 40px 0;
    }
  }
}

@media (max-width: variables.$point-xl) {
  .england-company-wrapper {
    .england-company-header {
      background-position: left bottom;

      .title-wrapper {
        background-color: #e9c7c769;
        padding: 30px;
        border-radius: 30px;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

@media (max-width: variables.$point-lg) {
  .england-consulting {
    background-position: left bottom;
    padding: 100px 0;
    > div {
      width: 80%;
    }
  }
}

@media (max-width: variables.$point-l) {
  .england-company-wrapper {
    > div {
      margin-top: 0;
      margin-bottom: 70px;
    }

    & ~ .england-consulting {
      margin-top: 70px;
      padding: 100px 20px;

      > div {
        width: 100%;
      }
    }

    .england-company-header {
      background-position: left bottom;

      .title-wrapper {
        background-color: #e9c7c769;
        padding: 30px;
        border-radius: 30px;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

@media (max-width: 900px) {
  .england-company-wrapper {
    > div,
    & ~ .england-consulting {
      margin-bottom: 45px;
    }

    .england-company-header {
      padding: 40px 20px;

      .title {
        font-size: 50px;
      }

      .description {
        font-size: 28px;
      }
    }
  }
}

@media (max-width: variables.$point-md) {
  .england-company-wrapper {
    .england-company-header {
      .title {
        font-size: 44px;
      }

      .description {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: variables.$point-m) {
  .england-company-wrapper {
    .england-company-header {
      .title-wrapper {
        padding: 10px;
      }

      .title {
        font-size: 40px;
      }

      .description {
        font-size: 22px;
        width: 100%;
      }
    }

    & ~ .england-consulting {
      padding: 40px 15px;
    }
  }
}

@media (max-width: 590px) {
  .england-company-wrapper {
    .england-company-header {
      .title {
        font-size: 34px;
      }

      .description {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 520px) {
  .england-company-wrapper {
    .england-company-header {
      .title {
        font-size: 28px;
      }

      .description {
        font-size: 18px;
      }
    }

    & ~ .england-consulting {
      .title {
        font-size: 26px;

        .selected-text {
          font-size: 44px;
        }
      }
    }
  }
}

@media (max-width: variables.$point-m) {
  .england-company-wrapper {
    .england-company-header {
      .title {
        font-size: 24px;
      }

      .description {
        font-size: 14px;
      }
    }
  }
}
