//colors
$black-color: #202127;
$border-color: #f7dada;
$red-color: #e11d1d;
$dark-red: #a21924;
$button-bg: #9a0c0c;
$more-bg: #801319;
$dark-border-color: #8f3724;
$light-grey: #a1a1a1;
$grey: #616165;
$grey-secondary: #64748b;
$extra-dark-grey: #4b5768;
$color-button: #b42318;
$primary-blue: #e8edfb;
$light-border-color: #fccaca;
$light-red: #e1180b;

//sizes
$mobile-landscape: 568px;
$mobile: 439px;
$tablet: 768px;
$desktop: 992px;

$breakpoints: (
  xxxs: 320px,
  xxs: 408px,
  xs: 440px,
  sm: 600px,
  m: 670px,
  md: 768px,
  l: 1024px,
  lg: 1280px,
  xl: 1920px,
);
