//colors
$black-color: #202127;
$border-color: #f7dada;
$red-color: #e11d1d;
$dark-red: #a21924;
$button-bg: #9a0c0c;

//sizes
$mobile-landscape: 568px;
$mobile: 439px;
$tablet: 768px;
$desktop: 992px;

$breakpoints: (
  xxxs: 320px,
  xxs: 408px,
  xs: 440px,
  sm: 600px,
  m: 670px,
  md: 768px,
  l: 1024px,
  lg: 1280px,
  xl: 1920px,
);
