@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-medium";
  src: url(./assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-bold";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "DM-Sans";
  src: url(./assets/fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: "DM-Sans-bold";
  src: url(./assets/fonts/DMSans-Bold.ttf);
}

@font-face {
  font-family: "DM-Sans-medium";
  src: url(./assets/fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: "DM-Sans-semi";
  src: url(./assets/fonts/DMSans-SemiBold.ttf);
}

@font-face {
  font-family: "FiraSans";
  src: url(./assets/fonts/FiraSans-Regular.ttf);
}

@font-face {
  font-family: "FiraSans-bold";
  src: url(./assets/fonts/FiraSans-Bold.ttf);
}

@font-face {
  font-family: "FiraSans-semi";
  src: url(./assets/fonts/FiraSans-SemiBold.ttf);
}

@font-face {
  font-family: "FrankRuhl-light";
  src: url(./assets/fonts/FrankRuhlLibre-Light.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(./assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato-light";
  src: url(./assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "Lato-bold";
  src: url(./assets/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "Lora";
  src: url(./assets/fonts/Lora-Medium.ttf);
}

@font-face {
  font-family: "Lora-bold";
  src: url(./assets/fonts/Lora-Bold.ttf);
}

@font-face {
  font-family: "Lora-semi";
  src: url(./assets/fonts/Lora-SemiBold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "Manrope-medium";
  src: url(./assets/fonts/Manrope-Medium.ttf);
}

@font-face {
  font-family: "Manrope-bold";
  src: url(./assets/fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope-light";
  src: url(./assets/fonts/Manrope-Light.ttf);
}

@font-face {
  font-family: "Manrope-semi";
  src: url(./assets/fonts/Manrope-SemiBold.ttf);
}

@font-face {
  font-family: "Mulish";
  src: url(./assets/fonts/Mulish-Regular.ttf);
}

@font-face {
  font-family: "Mulish-semi";
  src: url(./assets/fonts/Mulish-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-semi";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(./assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway-bold";
  src: url(./assets/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "Raleway-semi";
  src: url(./assets/fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: "Raleway-medium";
  src: url(./assets/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: "Inter-semi";
  src: url(./assets/fonts/Inter_18pt-SemiBold.ttf);
}
