@use "../../variables";

.gibraltar-company-wrapper {
  .gibraltar-company-header {
    font-family: "Lora-bold";
    background-image: url(../../assets/images/GibraltarBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 74px;
    padding-bottom: 37px;

    .title {
      font-family: "Roboto";
      text-transform: uppercase;
      font-size: 52px;

      .selected-text {
        font-family: "Lora-bold";
        font-size: 105px;
        color: variables.$dark-red;
        margin-top: 20px;
        display: inline-block;
        text-transform: none;
      }
    }

    .description {
      font-size: 32px;
      text-transform: capitalize;
      margin-top: 119px;
      padding-right: 50px;
      box-sizing: border-box;
    }

    .title,
    .description {
      width: 60%;
      min-width: 60%;
    }
  }

  .faq-wrapper {
    padding: 0;
  }
}

@media (max-width: variables.$point-lg) {
  .gibraltar-company-wrapper {
    .gibraltar-company-header {
      .title,
      .description {
        background-color: #e9c7c769;
        width: 80%;
      }
    }
  }
}

@media (max-width: variables.$point-l) {
  .gibraltar-company-wrapper {
    >div {
      margin-top: 0;
      margin-bottom: 70px;
    }

    .gibraltar-company-header {
      padding: 50px 20px;
      .title,
      .description {
        width: 100%;
      }
    }
  }
}

@media (max-width: variables.$point-md) {
  .gibraltar-company-wrapper {
    .gibraltar-company-header {
      .title {
        font-size: 48px;

        .selected-text {
          font-size: 80px;
        }
      }

      .description {
        font-size: 26px;
      }
    }
  }
}


@media (max-width: variables.$point-sm) {
  .gibraltar-company-wrapper {
    .gibraltar-company-header {
      .title {
        font-size: 32px;

        .selected-text {
          font-size: 56px;
        }
      }

      .description {
        font-size: 22px;
        margin-top: 80px;
      }
    }
  }
}

@media (max-width: variables.$point-sm) {
  .gibraltar-company-wrapper {
    .gibraltar-company-header {
      .title {
        font-size: 26px;

        .selected-text {
          font-size: 48px;
        }
      }

      .description {
        font-size: 18px;
      }
    }
  }
}