@use "../../variables";

.flags-container {
  background-color: variables.$dark-red;
  padding: 50px;
  max-width: 100%;
  overflow: hidden;
  transform: translateY(-2px);
  box-sizing: border-box;

  a {
    margin-right: 30px;
    display: inline-block;
  }

  .flag-item {
    width: 230px;
    min-width: 230px;
    height: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;

    &.spain {
      background-image: url(../../assets/images/spainFlag.png);
    }

    &.singapore {
      background-image: url(../../assets/images/singapore.png);
    }

    &.czech {
      background-image: url(../../assets/images/czech.png);
    }

    &.hongKong {
      background-image: url(../../assets/images/hongKong.png);
    }

    &.usa {
      background-image: url(../../assets/images/usaFlag.png);
    }

    &.usa {
      background-image: url(../../assets/images/usaFlag.png);
    }

    &.curacao {
      background-image: url(../../assets/images/curacaoFlag.png);
    }

    &.uk {
      background-image: url(../../assets/images/ukFlG.png);
    }

    &.canada {
      background-image: url(../../assets/images/canadaFlag.png);
    }

    &.belgium {
      background-image: url(../../assets/images/belgium-flag.png);
    }

    &.mauritius {
      background-image: url(../../assets/images/mauritius-flag.png);
    }

    &.seychelles {
      background-image: url(../../assets/images/seychelles-flag.png);
    }

    &.panama {
      background-image: url(../../assets/images/panama-flag.png);
    }

    &.belize {
      background-image: url(../../assets/images/belize-flag.png);
    }

    &.scotland {
      background-image: url(../../assets/images/scotland-flag.png);
    }
  }
}
